.footer-buttons {
  margin: 20px auto;

  button {
    float: right;
    margin: 10px;
  }
}

.furniture-box {
  padding: 0;
}

.rounded {
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #eee;
}

.has-alert {
  padding-top: 26px;
}
