@import "../../../../../assets/styles/variable";

.assets-card {
  margin: 10px 3px;

  mat-card-content {
    padding: 8px;
  }
}

.card-height {
  overflow-y: auto;
  padding-top: 36px;
  height: 59vh;
}

.rooms {
  height: 59vh;
  overflow-y: auto;
  padding-top: 36px;
}

.categories {
  height: 52vh;
  overflow-y: auto;
}
img {
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}


.room-card {
  height: 40px;
  border-radius: 6px;
  border: 1px solid #d9d8d8;
  cursor: pointer;
}

.add-room {
  font-size: 36px;
  // color: $boltmovers-success;
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 10px;
  border-radius: 40px;
}

.product-count {
  position: relative;
  background: $boltmovers-success;
  color: #fff;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 15px;
  top: -86px;
  width: 30px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  width: 64px;
  margin: 10px;
  text-align: center;
}

.room-products {
  float: left;
  width: auto;
  height: 80px;
}

.selected-room {
  background: rgb(56, 55, 55);

  p {
    color: #fff;
  }
  i{
    color: #fff;
  }
}

.packedProduct{
  border: 2px solid #f00;
}

.menu-item-container{
  display:flex;
  justify-content: space-between;
  align-items: center;

  .quantityInput{
    border: 1px solid #e5e5e5;
    width: 50%;
    height: 40px;
    border-radius: 6px;
    padding: 5px;
  }
}
