.map-card {
  margin: 0px;
  margin-right: 10px;
  height: 67.3vh;;

  mat-card-content {
    padding: 8px;
  }
}

.map-height {
  height: 65vh;
}

.map-data {
  padding-left: 20px;
  padding-right: 20px;
}
